/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* NAV */
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0e0e;
  color: white;
  z-index: 10;
  padding: 15px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.logo img {
  width: 280px;
}
.logo img:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.search input {
  min-width: 300px;
  padding: 11px 10px;
  width: 205px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: large;
}
.search input:focus {
  color: #e13535;
  outline: 2px solid #e13535;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.btn-clear {
  border: none;
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-clear:hover {
  color: #e13535;
  transform: scale(1.1);
}

.btn-search {
  background-color: #e13535;
  color: white;
  padding: 12px 13px;
  padding-right: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn-search img {
  margin: 0;
  padding: 0;
  width: 15px;
}

.btn-search:hover img {
  transform: scale(1.2);
}

.moving-message {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 25px;
}
.moving-message #message {
  display: inline-block;
  animation: move-left 12s linear infinite;
  font-size: large;
  color: white;
}

span span{
  color: #e13535;
}

@keyframes move-left {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(-100%);
  }
}


.container {
  display: flex;
  flex: 1;
  min-height: 100vh;
  background-color: #0f0e0e;
}


/* MENU */
.menu {
  width: 204px;
  padding: 0 100px;
  padding-top: 30px;
  padding-bottom: 80px;
  margin-top: 84px;
  position: fixed;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  background-color: #0f0e0e;
  color: white;
  font-family: "Poppins";
  z-index: 9;
}
.menu label {
  margin-bottom: 10px;
  font-size: small;
}
.menu .filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.menu .filter {
  width: 100px;
  padding: 5px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size:large;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s ease,
    outline-color 0.3s ease;
  align-items: center;
}
.menu::-webkit-scrollbar {
  width: 4px;
}
.menu::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}
.menu::-webkit-scrollbar-track {
  background-color: #0f0e0e;
}

.filter:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255);
  background: linear-gradient(180deg, #ffffff 50%, #ffffff 50%);
  color: #e13535;
}
.filter:has(input:checked) {
  background-color: rgba(255, 255, 255);
  background: linear-gradient(180deg, #ffffff 50%, #ffffff 50%);
  outline: 2px solid #e13535;
  accent-color: #e13535;
  color: #e13535;
}

.filters input[type="checkbox"] {
  display: none;
}

/* POKEDEX */
.pokedex {
  flex: 1;
  padding: 50px 150px;
  margin-left: 204px;
  margin-top: 84px;
  background-color: rgb(227, 173, 173);
  background-image: url(/img/wallhaven-57eey1.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left 60px center;
  font-family: "Rubik";
  overflow-y: auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  background-image: url(https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e);
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: bottom;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(58, 57, 57, 0.9);
  text-align: center;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
  max-height: 380px;
  min-height: 350px;
  min-width: 260px;
  max-width: 260px;
}

.card:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.card-number {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  font-size: 90px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  z-index: 1;
  pointer-events: none;
}
.card:hover .card-number {
  color: #e13535cc;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.9);
}
.card:hover img {
  z-index: 0;
}
.card:hover {
  transform: scale(1.05);
  outline: 7px solid #ffffff;
  outline-offset: -2px;
  cursor: pointer;
}
.card img {
  position: absolute;
  top: 32%; 
  left: 51.5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: transform 0.1s ease-in-out;
  width: 80%;
  height: auto;
  max-height: 180px;
  object-fit: contain;
}
.card:hover img {
  transform: scale(1.15) translate(-42%, -45%);
}
.card:hover h3 {
  color: #e13535;
  margin-bottom: -1px;
}

.card-info {
  background-color: rgba(5, 5, 5, 0.7);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  height: 40%;
  margin-top: 215px;
  display: grid;
  place-content: center;
}
.card-info h3 {
  color: #ffffff;
  font-size:180%;
}
.card:hover .card-info{
  background-color: #ffffff;
  z-index: 9;
}

.card-types {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-types span {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.type-fire {
  background-color: #ff7402;
}
.type-water {
  background-color: #4592c4;
}
.type-grass {
  background-color: #9bcc50;
}
.type-electric {
  background-color: #ffcc33;
}
.type-poison {
  background-color: #7e0058;
}
.type-bug {
  background-color: #729f3f;
}
.type-flying {
  background-color: #3dc7ef;
}
.type-ground {
  background-color: #ab9842;
}
.type-psychic {
  background-color: #f366b9;
}
.type-rock {
  background-color: #a38c21;
}
.type-ice {
  background-color: #51c4e7;
}
.type-dragon {
  background-color: #53a4cf;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.type-dark {
  background-color: #707070;
}
.type-steel {
  background-color: #9eb7b8;
}
.type-fairy {
  background-color: #fdb9e9;
}
.type-fighting {
  background-color: #d56723;
}
.type-ghost {
  background-color: #4d5b64;
}
.type-normal {
  background-color: #a4acaf;
}


@media only screen and (max-width: 1044px) {
  .pokedex {
    padding: 50px 90px;
  }
}
@media only screen and (max-width: 924px) {
  .pokedex {
    padding: 50px 50px;
  }
  .logo img {
    width: 0;
  }
}