/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* NAV */
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0e0e;
  color: white;
  z-index: 10;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.logo img {
  width: 150px;
}
.logo img:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}
.search input {
  padding: 5px 10px;
  width: 205px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search input:focus {
  color: #e13535;
  outline: 2px solid #e13535;
}

.btn-clear {
  border: none;
  padding: 4px 6px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: xx-small;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-clear:hover {
  color: #e13535;
  transform: scale(1.1);
}

.btn-search {
  background-color: #e13535;
  color: white;
  padding: 5px 10px;
  padding-right: 12px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  cursor: pointer;
}
.btn-search img {
  margin: 0;
  padding: 0;
  width: 10px;
}

.btn-search:hover img {
  transform: scale(1.2);
}

.container {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

/* MENU */
.menu {
  width: 120px;
  padding: 20px;
  margin-top: 50px;
  position: fixed;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  background-color: #0f0e0e;
  color: white;
  font-family: "Poppins";
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.menu label {
  margin-bottom: 10px;
  font-size: small;
}
.menu .filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.menu .filter {
  width: 60px;
  padding: 2px 7px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 10px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s ease,
    outline-color 0.3s ease;
}
.menu::-webkit-scrollbar {
  width: 4px;
}
.menu::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}
.menu::-webkit-scrollbar-track {
  background-color: #0f0e0e;
}

.filter:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255);
  background: linear-gradient(180deg, #ffffff 50%, #ffffff 50%);
  color: #e13535;
}
.filter:has(input:checked) {
  background-color: rgba(255, 255, 255);
  background: linear-gradient(180deg, #ffffff 50%, #ffffff 50%);
  outline: 2px solid #e13535;
  accent-color: #e13535;
  color: #e13535;
}

.filters input[type="checkbox"] {
  display: none;
}

.pokedex {
  flex: 1;
  padding: 25px 100px;
  margin-left: 100px;
  margin-top: 50px;
  background-color: rgb(227, 173, 173);
  background-image: url(/pokedex-version-01/img/wallhaven-57eey1.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left 60px center;
  font-family: "Rubik";
  overflow-y: auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 30px;
}

.card {
  background-image: url(https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e);
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: bottom;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(58, 57, 57, 0.9);
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: transform 0.1s ease-in-out;
  height: 180px;
  min-width: 150px;
}
.card:hover {
  transform: scale(1.05);
  outline: 3px solid #ffffff;
  outline-offset: -1px;
  cursor: pointer;
}
.card img {
  transition: transform 0.1s ease-in-out;
}
.card:hover img {
  transform: scale(1.1);
}
.card:hover h3 {
  background-color: #ffffff;
  color: #e13535;
  margin-bottom: -1px;
}

.card-info {
  background-color: rgba(5, 5, 5, 0.7);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  height: 100px;
}
.card-info h3 {
  padding-top: 15px;
  color: #ffffff;
  font-size: small;
}
.card:hover h3 {
  background-color: #ffffff;
  color: #e13535;
  margin-bottom: -1px;
}
.card:hover .card-types {
  background-color: #ffffff;
  padding-bottom: 111px;
}

.card-types {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-types span {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 7px;
  font-weight: bold;
}

.type-fire {
  background-color: #ff7402;
}
.type-water {
  background-color: #4592c4;
}
.type-grass {
  background-color: #9bcc50;
}
.type-electric {
  background-color: #ffcc33;
}
.type-poison {
  background-color: #7e0058;
}
.type-bug {
  background-color: #729f3f;
}
.type-flying {
  background-color: #3dc7ef;
}
.type-ground {
  background-color: #ab9842;
}
.type-psychic {
  background-color: #f366b9;
}
.type-rock {
  background-color: #a38c21;
}
.type-ice {
  background-color: #51c4e7;
}
.type-dragon {
  background-color: #53a4cf;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.type-dark {
  background-color: #707070;
}
.type-steel {
  background-color: #9eb7b8;
}
.type-fairy {
  background-color: #fdb9e9;
}
.type-fighting {
  background-color: #d56723;
}
.type-ghost {
  background-color: #4d5b64;
}
.type-normal {
  background-color: #a4acaf;
}
