@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos básicos y reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0e0e;
  padding: 8px 20px;
  color: white;
  border-bottom: 1px solid #ddd;

}

.logo img {
  width: 150px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  padding: 5px 10px;
  width: 205px;
  border: none;
  border-radius: 5px;
}

.search input:focus {
  color: #e13535;
}

.search .btn-search {
  background-color: #e13535;
  border-radius: 15px;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
}


.btn-search img{
  margin: 0;
  padding: 0;
  width: 10px;
}
/* Contenedor principal */
.container {
  display: flex;
  flex: 1;
}

/* Menú lateral */
.menu {
  width: 120px;
  background-color: #1c1818;
  padding: 20px;
  color: white;
  /*min-width: 165px;*/
  font-family: "Poppins";
}

.menu h3 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size:medium;
  text-align: center;
}

.menu .filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.filter {
  width: 70px;
  padding: 2px 7px;
  color: white; /* Texto en color blanco */
  font-weight: bold;
  font-size: x-small;
  border-radius: 15px; /* Bordes redondeados */
  text-align: center;
  cursor: pointer; /* Cambiar el cursor al pasar por el tipo */
  transition: transform 0.1s ease; /* Transición suave al hacer hover */
  outline: 2px solid #ffffff;
  margin: 0;
}

.filter:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño en hover */
}

.filters input[type="checkbox"] {
  display: none; /* Oculta los checkboxes */
}

.menu label {
  margin-bottom: 10px;
  font-size:small;
}

input:checked {
  accent-color: #e13535;
}


/* Sección principal - Pokedex */
.pokedex {
  flex: 1;
  padding: 25px 100px;
  background-color: rgb(237, 219, 219);
  background-image: url(/img/wallhaven-57eey1.png);
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen al fondo, sin desplazarse */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position:right; /* Centra la imagen en el contenedor */
  font-family: "Rubik";
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 20px;
}

/* Estilo de las tarjetas */
.card {
  background-image: url(https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e);
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: bottom;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(114, 107, 107, 0.9);
  text-align: center;
  overflow: hidden; /* Para evitar que la imagen se salga de la tarjeta */
  position: relative;
  transition: transform 0.1s ease-in-out;
  /*border: 4px solid #0f0e0e;*/
  max-height: 170px;
}
.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la tarjeta */
  outline: 4px solid #ffffff;
}

.card img {

  transition: transform 0.1s ease-in-out; /* Transición suave al hacer hover */
}
.card:hover img {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al hacer hover */
}


.card h3 {
  padding-top: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #1c1818;
  font-size: small;
}

.card:hover h3 {
  background-color: #1c1818; /* Cambiar color de fondo del h3 */
  color: #fff; /* Cambiar color del texto del h3 */
  margin-bottom: -1px; /* Superponer ligeramente con el .card-types */

}

/* Cambiar el color de fondo del contenedor de tipos al hacer hover en la tarjeta */
.card:hover .card-types {
  background-color: #1c1818; /* Cambiar color de fondo de los tipos */
  padding-bottom: 11px; /* Superponer ligeramente con el .card-types */

}

.card-types {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-types span {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: x-small;
}

.type-fire {
  background-color: #ff7402;
}

.type-water {
  background-color: #4592c4;
}

.type-grass {
  background-color: #9bcc50;
}

.type-electric {
  background-color: #ffcc33;
}

.type-poison {
  background-color: #7e0058;
}

.type-bug {
  background-color: #729f3f;
}

.type-flying {
  background-color: #3dc7ef;
}

.type-ground {
  background-color: #ab9842;
}

.type-psychic {
  background-color: #f366b9;
}

.type-rock {
  background-color: #a38c21;
}

.type-ice {
  background-color: #51c4e7;
}

.type-dragon {
  background-color: #53a4cf;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.type-dark {
  background-color: #707070;
}

.type-steel {
  background-color: #9eb7b8;
}

.type-fairy {
  background-color: #fdb9e9;
}

.type-fighting {
  background-color: #d56723;
}

.type-ghost {
  background-color: #4d5b64;
}

.type-normal {
  background-color: #a4acaf;
}
